%h1{:align => "center"}
	= current_user.client_name
%br
.container
	.row
		-if current_user.admin?
			%h2
				Your Clients
			%br
		-else
			%h2{:align => "center"}
				Your Financial Info
			%br
.container
	.row
		.col-md-8
			.media
				.media-body

