<h1 class="client-name"><%= current_user.client_name %></h1>
<br>
<div class="container">
	<div class="row">
		<h2 class="financial-heading">Your Financial Info</h2>
		<br>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="media">
				<div class="media-body">
					<% @user_links.each do |user_link| %>
						<ul class="sheet-link">
							<i class="fa fa fa-caret-right fa-fw" aria-hidden="true"></i><%= link_to "#{user_link.created_at.year} Financial Overview", user_link.url, :target => '_blank' %>
						</ul>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
