<h1 class="client-name"><%= current_user.client_name %></h1>
<br>
<div class="container">
	<div class="row">
		<h2 class="second-heading">Your Financial Info</h2>
		<br>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="media">
				<div class="media-body">
					<iframe class="iframe" align='center' height=100% src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSS2UsCW6ZYYu2L7eB9Mez_1_iTdSA_Pbu2U9r0la2TIeAo0B8w6LkUzm24CiWOemMWd5fnxS5mssXl/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>


